@media screen and (max-width: 1200px) {
  .pert6-slide-content {
    width: 45%;
    height: auto;
  }
  .part6-logo-images {
    width: 100%;
    height: auto;
    justify-content: space-between;
  }
}

@media screen and (max-width: 900px) {
  .pert6-slide-content {
    width: 60%;
    height: auto;
  }
  .part6-logo-images {
    width: 100%;
    height: auto;
    justify-content: space-between;
  }
}
@media screen and (max-width: 600px) {
  .pert6-slide-content {
    width: 90%;
    height: auto;
  }
  .part6-logo-images {
    width: 100%;
    height: auto;
    justify-content: space-between;
  }
}
